body {
	background: url("../images/background1.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
}

h1,
.jumbotron {
	font-family: 'Spicy Rice', cursive;
	font-size: 3em;
	margin-top: 3vh;
	margin-bottom: 1vh;
}

.row {
	margin-bottom: 4vh;
	margin-left: 3vw;
	margin-right: 3vw;
	border: #efad07;
}

.btn {
	font-family: 'Cairo', sans-serif;
	font-size: 16px;
	background-color: #9ff72d;
	color: rgb(0, 0, 0);
	padding: 1px 2vw;
	margin: 3px;
}

.labelFont {
	color: yellow;
	margin-bottom: 4px;
}

.btn:hover {
	color: #0bb6d4c5;
}

.btn:focus {
	outline: 2px solid #efad07 !important;
	background-color: #a20ddd;
	color: #eaebd3;
}

#SubmitBtn,
#addGIF {
	margin-top: 1.5vh;
}

p {
	color: aqua;
	margin: 2px;
}

.NewTopics {
	border: 2px dotted blueviolet;
}

#warning {
	color: red;
	font-size: 20px;
	text-decoration: underline;
	font-style: italic;
	margin-top: 2em;
}